<nav class="navbar navbar-expand-lg navbar-light bg-light pb-3 header" id='navbar'>

  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>

  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav w-100">

      <form id="data-form" class="w-100 justify-content-center" [ngClass]="(getScreenSize()=='LARGE')?'form-inline':''">

        <label class="mr-2 mb-1 mt-2">Data Amount</label>
        <input class="form-control mr-4" type="number" name="dataAmount" [(ngModel)]="dataAmount"
          (ngModelChange)="dataAmountChange()" [ngClass]="(getScreenSize()=='LARGE')?'':'mb-3'" [disabled]="isDisabled">

        <select class="form-control mr-4" name="algorithms" id="algorithms" form="carform"
          (change)="algorithmChange($event)" [ngClass]="(getScreenSize()=='LARGE')?'':'mb-3'" [disabled]="isDisabled">
          <option value="" selected>Select Algorithm ...</option>

          <option *ngFor="let algorithm of getAlgorithms()" value={{algorithm.value}}>
            {{algorithm.name}}
          </option>
        </select>


        <label class="mr-2">Speed</label>
        <span class="font-weight-bold purple-text ml-2 mt-1"><i class="fas fa-plus" aria-hidden="true"></i></span>
        <input class="border-0" type="range" min="5" max="100" (change)="speedChange($event)" [disabled]="isDisabled" />
        <span class="font-weight-bold purple-text mr-2 mt-1 mr-4"><i class="fas fa-minus" aria-hidden="true"></i></span>



        <button class="btn btn-primary px-4 mr-4" (click)="startSortig()" [disabled]="isDisabled">Sort</button>

        <button class="btn btn-primary px-4" (click)="shuffle()" [disabled]="isDisabled">Shuffle</button>

      </form>

    </ul>
  </div>
</nav>
