
.data-container{
  width: 900px;
  height: 100%; /*had 600px*/
  /*background-color: antiquewhite;*/
  margin-left: 20px;
  display: flex;
  align-self: flex-end;
}

.single-data{
  width: 25px;
  background-color: aquamarine;
  border: 1px solid #000;
  position: relative;
  margin-top: auto;
}

.compare{
  background-color: rebeccapurple;
}

.swap{
  background-color: red;
}
