
.main-container{
  /*display: flex;*/
  background: linear-gradient(to right, #004e92, #000428);
  width: 100%;
  /*height: calc(100vh - 64px);*/
 /*justify-content: center;
  position: absolute;*/
}
